# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime
pids
*.pid
*.seed
*.pid.lock

# Temporary
.cache
.module-cache
.tmp
.grunt
.npm
.eslintcache
*.tsbuildinfo

# Dependencies
node_modules
bower_components
jspm_packages
web_modules

# Coverage
libcov
coverage
*.lcov
.nyc_output

# Editors
.nvimrc
.idea
*.iml
*.ipr
.vscode
.vscode-test
*.sublime-project
*.sublime-workspace

# Config
.env
.env.test
